<div class="sidebar">
    <h1>File info</h1>
</div>
<div class="fileinfo">
    <dl>
        <dt>Id: </dt>
        <dd>{{id}}</dd>
        <dt>Name: </dt>
        <dd>{{name}}</dd>
        <dt>Path: </dt>
        <dd>{{path}}</dd>
        <dt>Size: </dt>
        <dd>{{size}}</dd>
        <dt>Type: </dt>
        <dd>{{type}}</dd>
        <dt>Savedate: </dt>
        <dd>{{savedate}}</dd>
    </dl>
</div>